web/bundles/

app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

build/

vendor/

bin/

.idea/

LICENSE
UPGRADE*

.sass-cache/
node_modules/
bower_components/

zz

web/app/js/ga.js
app/Resources/public/js/ga.js


web/built/js/*
web/built/css/*
!web/built/js/.gitkeep
!web/built/css/.gitkeep

web/app/js/*
web/app/css/*
!web/app/js/.gitkeep
!web/app/css/.gitkeep

web/js/
web/css/
