{% extends '::base.html.twig' %}


{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title headerpagehome">
                {{ 'views.user.resetting.checkemail.title'|trans }}
            </h1>
        </div>
    </div>

    <div class="row ">
        <div class="small-8 small-centered columns zimzim-panel">
            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </p>
        </div>
    </div>
{% endblock page %}
