/* line 5, ../scss/app.scss */
span.logo-small-tiers {
  width: 40px;
  height: 40px;
  -webkit-background-size: 120px 40px;
  background-size: 120px 40px;
  display: inline-block;
}

/* line 11, ../scss/app.scss */
.image-facebook {
  background-image: url("../../images/logotiers.png");
  background-position: 0;
}

/* line 15, ../scss/app.scss */
.image-google {
  background-image: url("../../images/logotiers.png");
  background-position: 80px;
}

/* line 19, ../scss/app.scss */
.image-twitter {
  background-image: url("../../images/logotiers.png");
  background-position: 40px;
}

/* line 23, ../scss/app.scss */
span.beta {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  display: inline-block;
  padding: 0 0 0 0.2rem;
  font-weight: bold;
  color: black;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  text-decoration: underline;
  color: black;
}

/* line 33, ../scss/app.scss */
span.beta:hover {
  -webkit-animation: spinzim linear 1.5s infinite;
  animation: spinzim linear 1.5s infinite;
}

/* line 36, ../scss/app.scss */
span.container-baballe {
  display: block;
  width: 100%;
  position: relative;
}

/* line 41, ../scss/app.scss */
span.baballe {
  top: 10px;
  left: 10px;
  position: absolute;
  display: inline-block;
  height: 64px;
  width: 64px;
  background-image: url("../../images/balle-brazil.png");
  position: absolute;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

/* line 53, ../scss/app.scss */
span.baballe:hover {
  -webkit-animation: spinzim linear 1.5s infinite;
  animation: spinzim linear 1.5s infinite;
}

/***********************\
        Animation
\**********************/
@-webkit-keyframes spinzim {
  /* line 62, ../scss/app.scss */
  0% {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  /* line 65, ../scss/app.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes spinzim {
  /* line 62, ../scss/app.scss */
  0% {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  /* line 65, ../scss/app.scss */
  100% {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes moveright {
  /* line 70, ../scss/app.scss */
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 73, ../scss/app.scss */
  100% {
    -webkit-transform: translateX(500%);
    -ms-transform: translateX(500%);
    transform: translateX(500%);
  }
}

@keyframes moveright {
  /* line 70, ../scss/app.scss */
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  /* line 73, ../scss/app.scss */
  100% {
    -webkit-transform: translateX(500%);
    -ms-transform: translateX(500%);
    transform: translateX(500%);
  }
}

@-webkit-keyframes moveleft {
  /* line 78, ../scss/app.scss */
  0% {
    -webkit-transform: translateX(500%);
    -ms-transform: translateX(500%);
    transform: translateX(500%);
  }

  /* line 81, ../scss/app.scss */
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes moveleft {
  /* line 78, ../scss/app.scss */
  0% {
    -webkit-transform: translateX(500%);
    -ms-transform: translateX(500%);
    transform: translateX(500%);
  }

  /* line 81, ../scss/app.scss */
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/***********************\
        Accordion
\**********************/
/* line 89, ../scss/app.scss */
div.zimzim-accordion {
  overflow: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
