{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.bundles.app.usertournament.index.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.bundles.app.usertournament.index.title'|trans }}
            </h1>
        </div>
    </div>

    {% for entity in entities %}
        {% include 'ZIMZIMBundlesAppBundle:UserTournament:include/line.html.twig' with{'entity': entity} %}
    {% endfor %}

    <div class="row">
        <div class="small-12 columns">
            <h2 class="text-center headerpagehome">
                {{ 'views.bundles.app.usertournament.index.tournaments'|trans }}
            </h2>
        </div>
    </div>

    {% for Tournament in Tournaments %}
        {% include 'ZIMZIMBundlesAppBundle:Tournament:include/line.html.twig' with{'Tournament': Tournament} %}
    {% endfor %}

{% endblock %}
