{% extends '::base.html.twig' %}

{% block title %}
    {{ 'zimzim_bundles_app_usertournament.index.title'|trans }}
{% endblock title %}


{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">UserTournament creation</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            {{ form(form) }}

                        <div class="row">
    <div class="small-12 large-4 columns text-center">
        <a class="tiny button round" href="{{ path('zimzim_bundles_app_usertournament') }}">
            {{ 'link.return'|trans }}
        </a>
    </div>
</div>
        </div>
    </div>
{% endblock %}
